body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#to-do-app{
    margin: auto;
    margin-top: 2%;
    height: 90vh;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 240, 240);
    position: relative;
}

#left-section{
    height: 60%;
    width: 45%;
    background-color: white;
    padding-left: 33px;
    box-shadow: 1px 3px 5px rgb(233, 233, 233);
}

#left-section h2{
    color: rgb(117, 117, 117);
    border-bottom: 1px solid grey;
    width: 16%;
    text-transform: uppercase;
}

#right-section{
    height: 85%;
    width: 45%;
    background-color: white;
    position: relative;
    box-shadow: 3px 3px 5px 0px rgb(233, 233, 233);
    padding: 1%;
}

#description{
    height: 200px;
    width: 90%;
}

#description > p{
    font-size: medium;
    color: rgb(93, 87, 87);
    font-weight: 500;
    margin-left: 0.5%;
}

#description > input{
    padding-bottom: 100px;
    width: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: normal;
    line-height: 10px;
    font-size: medium;
    border: none;
    box-shadow: 4px 3px 5px 0px rgb(211, 211, 211);;
}

#description > input:focus{
    outline: none;
}

#middle-section{
    display: flex;
    margin-bottom: 6%;
}

#category{
    height: 70px;
    width: 40%;
    margin-right: 9%;
    box-shadow: 4px 3px 5px 0px rgb(211, 211, 211);
}

#category > label{
    margin-left: 2%;
    font-size: medium;
    color: rgb(93, 87, 87);
    font-weight: 500;
}

#categories{
    height: 60%;
    width: 100%;
    border: none;
    background-color: white;
    color: grey;
}

option{
    font-size: 15px;
}

#categories:focus{
    outline: none;
}

#date{
    height: 70px;
    width: 40.3%;
    box-shadow: 4px 3px 5px 0px rgb(211, 211, 211);
}

#datesection{
    height: 100%;
    width: 100%;
    border: none;
    text-transform: uppercase;
    color: grey;
}

#datesection:focus{
    outline: none;
}

#buttons{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn{
    height: 60px;
    width: 140px;
    background-color: rgb(47, 255, 92);
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 5%;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

h3{
    margin-left: 2%;
}

.fa-chevron-circle-right{
    margin-right: 2%;
    color: rgb(255, 255, 255);
}

/* -------------- Task Bar CSS ----------- */

#utilities{
    position: absolute;
    height: 5%;
    width: 20%;
    right: 3.5%;
    top: 1.5%;
}

@keyframes clicked2{
    from{
        height: 100%;
        width: 100%;
    }

    to{
        height: 96%;
        width: 96%;
        font-size: 12px;
        background-color: rgb(189, 184, 184);
    }
}

#delete-btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

#delete-btn:focus{
    outline: none;
}

#delete-btn:active{
    animation: clicked2 0.1s ease-in-out 0s;
}


ul{
    list-style: none;
    margin-left: -5%;
    margin-top: 11%;
}

li{
    height: 50px;
    width: 97%;
    padding: 2px;
    padding-left: 5px;
    box-shadow: 1px 1px 5px 0px rgb(223, 222, 222);
    border: none;
    margin-bottom: 3%;
}

#task{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
}

@keyframes shrinkIn {

    from{
        height: 50px;
        width: 97%;
    }
    
    to{
        height: 40px;
        width: 95%;
    }
}

.selected{
    background-color: cyan;
    border-radius: 50%;
}

#info{
    margin-left: 5%;
    text-transform: capitalize;
    height: 100%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

#info span:nth-child(2n+1){
    width: 100%;
    font-size: larger;
    color: rgb(37, 37, 37);
}

#info span:nth-child(2n){
    font-size: small;
    color: grey;
}

#categ{
    height: 60%;
    width: 21%;
    background-color: rgb(200, 200, 200);
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bolder;
}

#delete{
    margin-left: 20%;
    color: red;
}

#delete:active, #delete:visited{
    color: red;
}